html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; }
  
  .row {
    margin: 0;
    padding: 0; }
  
  ul li {
    list-style: none; }
  
  a {
    cursor: pointer; }
  
  .acenter {
    text-align: center; }

p {
    color: white;
    font-size: 2vw;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
}


.botonInicio {
  margin-top: 1px; 
  margin-left: 15%;
  background: transparent;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 2px solid #7DD8C2;
  box-shadow: 6px 5px 24px black;
  font-family: Arial;
  color: white;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10%;
}

.botonInicio:hover {
  background-color: #7DD8C2;
  color: #8E2DE2;
}

.botonPresupuesto {
  margin-left: 40%;
  margin-right: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  padding: 10px;
  margin-bottom: 10%;
}

.container-fluid {
    padding: 0%; 
}
  
/***BODY***/
.bodyinicio {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
    background: linear-gradient(to right, #4A00E0, #8E2DE2); 
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
}


/***NAV***/
.menuUno {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: left;
    justify-content: flex-end;
}
    .menuUno #navbarNav ul {
      font-family: "Open Sans", sans-serif;
      font-size: 18px; }
      .menuUno #navbarNav ul li a {
        display: block;
        padding: 10px 10px;
        color: white;
        transition: all .2s; }
        .menuUno #navbarNav ul li a:hover {
          color: #7DD8C2;
          font-size: 19px; }

.menuUno .logo img {
  padding-top: 0%;
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 800px;
  margin-left: 5%;
  transition: all 2s; }
  .menuUno .logo img:hover {
    width: 300px;
      height: 300px; 
  }

.bienvenidos .fraseprincipal h1 {
    color: white;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-top: 5%; 
    margin-left: 15%;
}

.bienvenidos .fraseprincipal p {
  text-align: left;
  margin-top: 2px; 
  margin-left: 15%;
  margin-bottom: 3%;
}



.imgComputer {
  margin-left: 0%;
  margin-right: 5%;
  padding: 0%;
  margin-top: 5%; 
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

/***ABOUT***/

.about {
    background-color: white;
    height: 30vw;
    margin-top: 5%;
}
.about h2 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;

}

.about .pabout {
    color: #993E80;
    padding-top: 5%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.services {
    margin-top: 5%;
}

.services h2 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
}

.services p {
    padding-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0%;
}


#contacto {
    background-color: white;
    margin-bottom: 5%;
    padding-bottom: 10%;
    height: 100%;
}

.contacto h2 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
}

.formEmail {
    display: flex;
    align-content: center;
    width: 50%;
    padding: 26px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 60px;
    /*background-color: black;*/ }
    form label {
      width: 250px;
      font-weight: bold;
      color: #000;
      font-size: 15px;
      display: inline-block; }
      form label:hover {
        color: #7DD8C2; }
  
  form input[type="text"], form input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 3px solid grey;
    border-radius: 5px;
    margin: 10px 0;
    display: inline-block; }
  
  form input[type="submit"] {
    width: 50%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #993E80; }
    form input[type="submit"]:hover {
      cursor: pointer;
      color: black; }
  
.validate-form {
  color: red;
  margin-left: 55%;
}

.validate-form h6 {
  font-size: 12px;

}

.option-label {
width: 100%;
}

.option-value {
  color: #8E2DE2;
  font-size: 14px;
  margin-bottom: 4%;
}

.footer-distributed {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px "Open Sans", sans-serif;
    padding: 55px 50px;
    margin-top: 10px; }
    .footer-distributed .footer-left {
      display: inline-block;
      vertical-align: top;
      width: 40%; }
    .footer-distributed .footer-center {
      display: inline-block;
      vertical-align: top;
      width: 35%; }
      .footer-distributed .footer-center p {
        display: inline-block;
        color: #7DD8C2;
        vertical-align: middle;
        margin: 0; }
        .footer-distributed .footer-center p span {
          display: block;
          font-weight: normal;
          font-size: 14px;
          line-height: 2; }
        .footer-distributed .footer-center p a {
          color: #7DD8C2;
          text-decoration: none; }
    .footer-distributed .footer-right {
      display: inline-block;
      vertical-align: top;
      width: 20%; }
    .footer-distributed h3 {
      color:  white;
      font-family: 'Montserrat', sans-serif;
      font-size: 26px;
      margin: 0; }
      .footer-distributed h3:hover {
        font-size: 30px;
        transition: all .3s; }
      .footer-distributed h3 span {
        color: #7DD8C2; }
    .footer-distributed .footer-links {
      color:  white;
      margin: 20px 0 12px;
      padding: 0; }
      .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 3px;
        text-decoration: none;
        color: inherit; }
        .footer-distributed .footer-links a:hover {
          color: grey;
          transition: all .3s; }
    .footer-distributed .footer-company-name {
      color: #7DD8C2;
      font-size: 14px;
      font-weight: normal;
      margin: 0; }
    .footer-distributed .footer-company-about {
      line-height: 20px;
      color: #7DD8C2;
      font-size: 13px;
      font-weight: normal;
      margin: 0; }
      .footer-distributed .footer-company-about:hover {
        color: grey;
        transition: all .3s;
        font-size: 15px; }
      .footer-distributed .footer-company-about span {
        display: block;
        color: #7DD8C2;
        font-size: 14px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 5px; }
    .footer-distributed .footer-icons {
      margin-top: 25px; }
      .footer-distributed .footer-icons a {
        display: inline-block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-color: #7DD8C2;
        border-radius: 2px;
        font-size: 20px;
        text-align: center;
        line-height: 10px;
        margin-right: 3px;
        margin-bottom: 5px; }
        .footer-distributed .footer-icons a img {
          width: 20px;
          height: 20px;
          margin-top: 15%; }